FuelWatch/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fuelwatch"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"fuelwatch_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'fuelwatch'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakestored.dfs.core.windows.net"
		},
		"FuelWatchKey_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://TelstraPurpleKey.vault.azure.net/"
		},
		"fuelwatch_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.fuelwatch.wa.gov.au/fuelwatch/fuelWatchRSS"
		},
		"fuelwatch_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mainuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FuelWatchCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_8pt",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "datalakestore/RAW/FuelWatch/feed"
							}
						],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['rss']['channel']['title']"
										},
										"sink": {
											"name": "rss_channel_title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['ttl']"
										},
										"sink": {
											"name": "ttl",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['link']"
										},
										"sink": {
											"name": "rss_channel_link",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['description']"
										},
										"sink": {
											"name": "rss_channel_description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['language']"
										},
										"sink": {
											"name": "language",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['copyright']"
										},
										"sink": {
											"name": "copyright",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['lastBuildDate']"
										},
										"sink": {
											"name": "lastBuildDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['image']['url']"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['image']['title']"
										},
										"sink": {
											"name": "rss_channel_image_title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rss']['channel']['image']['link']"
										},
										"sink": {
											"name": "rss_channel_image_link",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['title']"
										},
										"sink": {
											"name": "rss_channel_item'][0]['title",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['description']"
										},
										"sink": {
											"name": "rss_channel_item'][0]['description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['brand']"
										},
										"sink": {
											"name": "brand",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "[['price']"
										},
										"sink": {
											"name": "price",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['trading-name']"
										},
										"sink": {
											"name": "trading-name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['location']"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['address']"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['phone']"
										},
										"sink": {
											"name": "phone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['latitude']"
										},
										"sink": {
											"name": "latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['longitude']"
										},
										"sink": {
											"name": "longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "[['site-features']"
										},
										"sink": {
											"name": "site-features",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['rss']['channel']['item']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_8pt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_8pt",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_8pt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "datalakestore/RAW/FuelWatch/feed"
							},
							{
								"name": "Destination",
								"value": "dbo.fuelwatch"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "rss_channel_title",
											"type": "String"
										},
										"sink": {
											"name": "rss_channel_title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ttl",
											"type": "Int64"
										},
										"sink": {
											"name": "ttl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_link",
											"type": "String"
										},
										"sink": {
											"name": "rss_channel_link",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_description",
											"type": "String"
										},
										"sink": {
											"name": "rss_channel_description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "language",
											"type": "String"
										},
										"sink": {
											"name": "language",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "copyright",
											"type": "String"
										},
										"sink": {
											"name": "copyright",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String"
										},
										"sink": {
											"name": "url",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_image_title",
											"type": "String"
										},
										"sink": {
											"name": "rss_channel_image_title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_image_link",
											"type": "String"
										},
										"sink": {
											"name": "rss_channel_image_link",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_item'][0]['title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "rss_channel_item'][0]['description",
											"type": "String"
										},
										"sink": {
											"name": "description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "brand",
											"type": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Double"
										},
										"sink": {
											"name": "price",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "trading-name",
											"type": "String"
										},
										"sink": {
											"name": "trading_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "address",
											"type": "String"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String"
										},
										"sink": {
											"name": "phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "Double"
										},
										"sink": {
											"name": "latitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "Double"
										},
										"sink": {
											"name": "longitude",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "site-features",
											"type": "String"
										},
										"sink": {
											"name": "site_features",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_8pt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_8pt')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_8pt')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "rss_channel_title",
						"type": "nvarchar"
					},
					{
						"name": "ttl",
						"type": "nvarchar"
					},
					{
						"name": "rss_channel_link",
						"type": "nvarchar"
					},
					{
						"name": "rss_channel_description",
						"type": "nvarchar"
					},
					{
						"name": "language",
						"type": "nvarchar"
					},
					{
						"name": "copyright",
						"type": "nvarchar"
					},
					{
						"name": "lastBuildDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "rss_channel_image_title",
						"type": "nvarchar"
					},
					{
						"name": "rss_channel_image_link",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "brand",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "trading_name",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "site_features",
						"type": "nvarchar"
					},
					{
						"name": "version",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "fuelwatch"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_8pt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "feed",
						"folderPath": "RAW/FuelWatch",
						"fileSystem": "datalakestore"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_8pt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fuelwatch",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/fuelwatch')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FuelWatchKey')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('FuelWatchKey_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fuelwatch')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "fuelwatch",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('fuelwatch_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('fuelwatch_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('fuelwatch_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}